<div class="pagination">
          <ul>
          	{{#if prev}}
            <li><a href="{{pageUrl prev}}" class="btn">Prev Post</a></li>
            {{/if}}
            {{#if next}}
            <li><a href="{{pageUrl next}}" class="btn">Next Post</a></li>
            {{/if}}
          </ul>
        </div>
        <!-- /.pagination --> 