<aside class="col-sm-4 sidebar lp30">
	
  <div class="sidebox widget">
    <h3 class="widget-title section-title">Acerca de mí</h3>
      <p>Designer.</p>
  </div>

  <div class="sidebox widget">
    <h3 class="widget-title section-title">Lo + nuevo</h3>
      <ul class="recent-list">
        {{#get "posts" limit="5"}}
          {{#foreach posts}}
            <li><a href="{{url}}">{{title}}</a></li>
          {{/foreach}}
        {{/get}}
      </ul>
  </div>
    
  <div class="sidebox widget">
    <h3 class="widget-title section-title">Tópicos</h3>
      <div class="tag-list">
        {{#get "tags" limit="all" order="name asc"}}
          {{#foreach tags}}
            <a href="/tag/{{slug}}">{{name}}</a>
          {{/foreach}}
        {{/get}}
      </div>
  </div>

    <!-- <div class="sidebox widget">
    <h3 class="widget-title section-title">Instagram</h3>
    <div class="instagram-widget "></div>
  </div>
-->

</aside>